<div class="content">
  <div class="left-side-content"></div>
  <div class="right-side-content">
    <section class="mat-typography">
      <h1>Welcome to my Website and Angular Playground</h1>
      <h2>A bit about myself</h2>

      <p>
        My name is Muhammed Veysel Gaygisiz, but people call me Mo. It makes life easier, so i stick on it.
        I live in Bern, Switzerland. My roots are in Düsseldorf and Cologne, Germany.
        My parents are from Turkey so that explains my south east european appearance.
      </p>

      <p>
        During school i got in touch with programming through my very talented and good friend Konstantin.
        Back then i wanted to become an architect to systematically construct such impressive things
        like building. Konstantin asked me why i would not start programming, since it is basically
        the same and it would require only a computer to get started. I get easily excited by reasonable
        ideas (even back then), so i was convinced.
      </p>

      <p>
        After graduation i started my vocational training as a Software Developer. It was .Net with ASP.Net
        i got into and programed the companies own Human Resource Management System. It was not a successful
        tool but good enough to get touch with business information system. Vocational training just gave me
        an impression how software development works on a bit larger scale, but did not satisfy my curiosity
        how to develop software on a more founded and methodological way.
      </p>

      <p>
        It was quiet clear for me to study informatics at university afterwards, and so i did. I went to
        the Cologne University of Applied Science and started studying business informatics with my younger
        brother Resul. So two devs out of one family was good but my youngest brother also studied informatics
        a few years later. I am quiet proud of being an inspiration for them. My brother and me got in touch
        with a few other really awesome students and we got a team. Our performance was impressive and everyone
        is quite good in their jobs nowadays.
      </p>

      <p>
        A few profs noticed my talend to adapt the theoretical knowledge we learned during class, so they hired
        me in Software Engineering as assistant. Back then i noticed what i read in Clean Code by Uncle Bod wrote,
        that teaching stuff to other people helps you deepening your own knowledge. And indeed the stuff i
        learned back then is still good preserved in my consciousness and even i could not recall the details
        they become intuitive for me.
      </p>

      <p>
        Business Informatics is nice but had a bit too much business in it for my taste, so my brother
        and me started to visit additional lessons and finally for the master degree i decided to switch
        to Software Engineering and in my thesis i integrated a Usability Methodology with the
        Software Engineering Methodology which still today has impact on how i think and work or want to work.
        While i was doing my master's degree, i started to work for a company and i got in touch with the first time
        with Agile Methodology. I adapted it into my thesis topic and think, even today, that i found fairly
        effective way to develop software systematically.
      </p>

      <p>
        The next deep inspiration i got was Clean Code by Uncle Bob with how he builds up a collection of
        ideas how to write understandable software with tests which not only secure but also serve as a
        specification of the software. A topic that is still a totally underestimated topic in daily business.
      </p>

      <p>
        Last but not least i ended up being a Frontend Developer with experience in mainly react and Angular,
        who is totally convinced of Storybook, the smart/dumb component pattern, redux and
        testing (with Jest and Loki) and who is happy with the road he took and the thinks i learned and practice.
      </p>

      <h2>
        Next follows my CV and in future additional content since this is my Playground for Angular ...
      </h2>

      <div class="action-bar">
        <button mat-raised-button color="primary">Curriculum Vitae</button>
      </div>
    </section>
  </div>
</div>
